on:
  pull_request:
  push:
    branches:
      - main
jobs:
  deploy:
    name: DeployFeed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - uses: imjasonh/setup-ko@v0.4
        env:
          KO_DOCKER_REPO: gcr.io/village-go-godzilla/feed
      - run: ko publish ./cmd/feed